<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.apigw.deploy.{{ .Name }}</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>{{ .WorkDir }}/.apigw/start.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>WorkingDirectory</key>
    <string>{{ .WorkDir }}</string>
    <key>StandardOutPath</key>
    <string>{{ .LogDir }}/{{ .Name }}.out.log</string>
    <key>StandardErrorPath</key>
    <string>{{ .LogDir }}/{{ .Name }}.err.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PORT</key>
        <string>{{ .Port }}</string>
        {{ range $k, $v := .Env }}<key>{{ $k }}</key>
        <string>{{ $v }}</string>
        {{ end }}
    </dict>
    <key>ProcessType</key>
    <string>Background</string>
    <key>ThrottleInterval</key>
    <integer>5</integer>
    <key>SoftResourceLimits</key>
    <dict>
        <key>NumberOfFiles</key>
        <integer>4096</integer>
    </dict>
</dict>
</plist>
